body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
main {
  height: 650px; /* Fixed height for the main section */
  overflow-y: auto; /* Allow scrolling if the content overflows */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure pagination stays at the bottom */
}
/*Menu*/
nav {
  margin: 10px 0;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.menu li {
  margin: 0 15px;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.menu a:hover {
  text-decoration: underline;
}
.home, .contact, .about {
  text-align: center;
  padding: 50px;
}

.home h2, .contact h2, .about h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.home p, .contact p, .about p {
  font-size: 18px;
  color: #555;
}
/*Home*/

/*---------------------------------------------------*/
.app header {
  padding: 20px;
  background-color: #6200ea;
  color: white;
  text-align: center;
}

.filters {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tool-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tool-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tool-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.tool-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.tool-card p {
  font-size: 14px;
  color: #555;
}

.tool-card a {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  border: 1px solid #6200ea;
  background-color: #6200ea;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #6200ea;
  color: white;
  margin-top: 20px;
}
